body {
    background-color: #E8E6E6;
    margin: 0px;
}

nav {
    background-color: #E8E6E6;
    display: flex;
    align-items: center;
    padding: 20px;
}

#home-nav {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#home-nav img {
    transition: transform 0.25s ease;
}

#home-nav img:hover {
    transform: scale(1.08);
}

#list-nav {
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    gap: 75px;
}

#list-nav a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#lukesikes {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#lukesikes img {
    transition: transform 0.25s ease;
}

#lukesikes img:hover {
    transform: scale(1.02);
}

#featured-work {
    display: flex;
    justify-content: center;
    margin: 150px 0px 0px 0px;
}


